<div class="logIn">
<h2> Log In </h2>

<% if (errorMessage.length > 0) { %>
  <div class="error">
    <%= errorMessage %>
  </div>
<% } %>

<form method="post" action="/login">
  <br>
  <div class="input-group input-group-sm">
  <label for="username-input"> User Name </label>
  <input class="form-control" id="username-input" type="text" name="loginUsername" placeholder=" User Name">
</div>
  <br>

  <div class="input-group input-group-sm">
  <label for="password-input"> Password </label>
  <input class="form-control" id="password-input" type="password" name="loginPassword" placeholder="******">
  </div
  <br>

  <br>
  <button> Log In </button>
</form>

<a href="/auth/facebook">
  Log In with Facebook</a>


<br>
<a href="/auth/google">Log In with Google</a>
<br>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
<br>
</div>
